<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>initilize</title>
</head>
<header>
<a href="http://">Home</a>
<a href="http://">About</a>
<a href="http://">Contact</a>
<a href="http://">FAQ</a>
</header>
<body>
    {{{body}}}
    {{{section}}}
</body>
</html>