<h1>We are the best site which provide any kind of service reqarding software.</h1>

<h4>Here is your fortune you lucky dude.</h4>

{{#if fortune}}
<<<<<<< HEAD
<p>{{{fortune}}}</p>
{{/if}}



<button>More</button>






<footer>Michael copyright &copy; 2021</footer>
=======
<p>your fortune of the day</p>
<blockquote><i>{{fortune}}</i></blockquote>
{{/if}}
>>>>>>> ccc14d987f21c942e0caf7922ad1d5b767145170
