<h1 class="">We are the best site which provide any kind of service reqarding
  software.</h1>

<h4>Here is your fortune you lucky dude.</h4>

{{#if fortune}}
  <p>{{{fortune}}}</p>
{{/if}}

<button class="btn btn-primary">More</button>