
<h1>Enter your contact info Below.</h1>

<form>
<fieldset>
<legend>Contact Us</legend>
<legend class="form-label" >Name:</legend>
<input  class="form-control" type="text" name="name" placeholder="Enter your name"/>
<br/>
<legend class="form-label">Email:</legend>
<input  class="form-control" type="email" name="email" placeholder="Enter your email"/>
<br/>
<legend class="form-label">Message:</legend>
<textarea  class="form-control" name="message" placeholder="Enter your message from 200-500 words"></textarea>

</fieldset>
<input class="btn btn-primary my-5" type="submit" name="Submit"/>
</form>