
<img src="../public/img/logo.png" alt="logo"/>
<h1>Welcome to home page of Meadowlark Travels!</h1>
<p>Today's Weather</p>
{{> weather}}

<p>Check out our</p><a href="/about" data-test-id="about">About us</a>Page!</p>