{{#section 'head'}}
<!--We want google to ignore this page-->
<meta name="robots" content="noindex">
{{/section}}

<h1>Test page</h1>
<p></p>we're testing some script stuff.</p>

{{#section 'scripts'}}
<script>
    document.querySelector('body')
    .insertAdjacentHTML('beforeEnd', '<small>(scripting works!)</small>')
</script>
{{/section}}